.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;

  .logo {
    height: 100%;
    width: 70px;
    padding: 1rem;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      text-decoration: none;
      color: #4a4a4a;
      font-weight: bold;
      font-size: 25px;
      cursor: pointer;
    }
  }
}
